html
	head
		link(rel='stylesheet' href='/styles/style.css')
		link(rel="preconnect" href="https://fonts.googleapis.com")
		link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
		link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet")
		title URL Shortener
	body
		div(class='container')
			h1(class='header') Welcome
			br
		div(class='extra')
			a(class='buttons' href='login') Login
			a(class='buttons' href='register') Register
			
